################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TestHealthCheck/.vs/TestHealthCheck
/TestHealthCheck/TestHealthCheck/TestHealthCheck.csproj.user
